.home-container {
    text-align: center;
    height: 100vh;
}

.donuts {
    pointer-events: none;
    height: 80vmin;
}

.btn-animation {
    height: 8vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .donuts {
      animation: donuts-spin infinite 20s linear;
    }

    .btn-animation {
        animation: button-color infinite 1s linear;
    }
}

@keyframes donuts-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes button-color {
    from {
        outline: 2px solid #31D2F2;
    }

    to {
        outline: 4px solid #67dcf3;
    }
  }
  
  